[submodule "lib/raylib/raylib"]
	path = lib/raylib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/raylib/raygui"]
	path = lib/raylib/raygui
	url = https://github.com/raysan5/raygui.git
