*.o
tmp/
*.gc*
*.a
*.txt
unit_tests
!unit_tests/
.vscode/
*.log
test_server
test_client
zappy_server
zappy_ai
zappy_ai_hm
!ai/*/zappy_ai
zappy_gui
tests/bin/
lib/raylib/include/
client
!client/
ai/__pycache__/
